# This is Git's per-user configuration file.
[user]
		name = Esteban Contreras
		email = contacto@econtreras.net
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com//
	insteadOf = https://github.com/
