[submodule "mac/oh-my-zsh/custom/plugins/copy-pasta"]
	path = mac/oh-my-zsh/custom/plugins/copy-pasta
	url = https://github.com/ChrisPenner/copy-pasta.git
[submodule "mac/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = mac/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "mac/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = mac/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "mac/oh-my-zsh/custom/plugins/zsh-aliases-exa"]
	path = mac/oh-my-zsh/custom/plugins/zsh-aliases-exa
	url = https://github.com/DarrinTisdale/zsh-aliases-exa.git
[submodule "shell/loading"]
	path = shell/loading
	url = https://github.com/Silejonu/bash_loading_animations.git
